<h1> <u> AWESOMES AWESOMES </u> </h1>

A simple tool that aggregates creates a curated list of awesome curated lists (like `awesome-readme`).

<h1> <u> LIST OF AWESOME LISTS </u> </h1>
<ol> 
<li> <a href = "github.com"> user/repo </a> - Description of repo </li>
</ol>

    
